@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-primary-color: #f7fafb;
  --bg-secondary-color: #02434f;
  --bg-darker-secondary-color: #011518;
  --btn-text-color: #22f084;
  --bg-footer-color: #f3f3f3;
}
/* fontfamily: TWK Everett for */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-color: #3d74e1;
  }
}
* {
  box-sizing: border-box;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
:target {
  transform: translateX(0);
}
#slider::-webkit-scrollbar {
  display: none;
}

#slider,
#slider2 {
  scrollbar-width: none;
}
#loading {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3; /* Light gray background */
  border-top: 5px solid #3498db; /* Light blue color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 14em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
input:not(#counter) {
  padding: 1em;
  border: 1px solid #e0e0e0;
  text-align: inherit;
}
.sliderCarousel img:not(img:first-child) {
  display: none;
}
/* h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #f99d86;
  margin: 0.5em auto;
} */
